parameters:
    level: 8
    paths:
        - app
        - src
        - router
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            # Pest is not supported by PHPStan
            message: "#^Undefined variable\\: \\$this$#"
            path: "tests"