services:
    #yourService: App\Http\Xyz

includes:
    - ./../vendor/strategio/saas/config/app.neon
    - ./../vendor/strategio/saas/config/events.neon

extensions:
    events: Saas\Extension\Events\EventsExtension