services:
    routes: Symfony\Component\Routing\RouteCollection
    eventDispatcher: Symfony\Component\EventDispatcher\EventDispatcher
    - Symfony\Component\Routing\Matcher\UrlMatcher(@routes, @requestContext)
    - Symfony\Component\Routing\Generator\UrlGenerator(@routes, @requestContext)

    - Megio\Http\Resolver\LinkResolver
    - Megio\Http\Resolver\ControllerResolver

    request:
        factory: Symfony\Component\HttpFoundation\Request::createFromGlobals()
    requestContext:
        factory: Symfony\Component\Routing\RequestContext
        setup:
            - fromRequest(@request)

    validatorService:
        factory: Megio\Http\Serializer\ValidatorFactory::create
    - Megio\Http\Serializer\RequestSerializer(@validatorService)

    - Megio\Bootstrap
    - Megio\Http\Kernel\App
    - Megio\Storage\Storage

    - Megio\Database\EntityFinder
    - Megio\Collection\RecipeFinder
    - Megio\Collection\ReadBuilder\ReadBuilder
    - Megio\Collection\WriteBuilder\WriteBuilder
    - Megio\Collection\SearchBuilder\SearchBuilder

    - Megio\Security\JWT\JWTResolver
    - Megio\Security\JWT\ClaimsFormatter
    - Megio\Security\Auth\AuthUser
    - Megio\Database\Manager\AuthResourceManager

    - Megio\Translation\Parser\NeonParser
    - Megio\Translation\Cache\TranslationCache
    - Megio\Translation\Loader\NeonTranslationLoader
    - Megio\Translation\Loader\DatabaseTranslationLoader
    - Megio\Translation\Facade\TranslationLoaderFacade
    - Megio\Translation\Facade\LanguageFacade
    - Megio\Translation\Facade\TranslationFacade
    - Megio\Translation\Facade\TranslationImportFacade
    - Megio\Translation\Facade\TranslationSyncFacade
    - Megio\Translation\Facade\TranslationDeletionFacade
    - Megio\Translation\Service\TranslationImportService
    - Megio\Translation\Service\TranslationService
    - Megio\Translation\Translator

    - Megio\Mailer\EmailTemplateFactory

includes:
    - command.neon
    - latte.neon