services:
    routes: Symfony\Component\Routing\RouteCollection
    eventDispatcher: Symfony\Component\EventDispatcher\EventDispatcher
    - Symfony\Component\Routing\Matcher\UrlMatcher(@routes, @requestContext)
    - Symfony\Component\Routing\Generator\UrlGenerator(@routes, @requestContext)

    - Saas\Http\Resolver\LinkResolver
    - Saas\Http\Resolver\ControllerResolver

    request:
        factory: Symfony\Component\HttpFoundation\Request::createFromGlobals()
    requestContext:
        factory: Symfony\Component\Routing\RequestContext
        setup:
            - fromRequest(@request)

    - Saas\Bootstrap
    - Saas\Http\Kernel\App
    - Saas\Storage\Storage
    - Saas\Debugger\ResponseFormatter
    - Saas\Database\CrudHelper\CrudHelper

    - Saas\Security\JWT\JWTResolver
    - Saas\Security\JWT\ClaimsFormatter
    - Saas\Security\Auth\AuthUser
    - Saas\Database\Manager\AuthResourceManager

includes:
   - command.neon
   - latte.neon