services:
    # SaaS commands
    - Saas\Console\PermissionsUpdateCommand
    - Saas\Console\AdminCreateCommand

    # Doctrine ORM commands
    #- Doctrine\ORM\Tools\Console\Command\ClearCache\CollectionRegionCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\ClearCache\EntityRegionCommand(@entityManagerProvider)
    - Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand
    #- Doctrine\ORM\Tools\Console\Command\ClearCache\QueryCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\ClearCache\QueryRegionCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\ClearCache\ResultCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\SchemaTool\CreateCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\SchemaTool\UpdateCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\SchemaTool\DropCommand(@entityManagerProvider)
    - Doctrine\ORM\Tools\Console\Command\GenerateProxiesCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\RunDqlCommand(@entityManagerProvider)
    - Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\InfoCommand(@entityManagerProvider)
    #- Doctrine\ORM\Tools\Console\Command\MappingDescribeCommand(@entityManagerProvider)

    #- Doctrine\Migrations\Tools\Console\Command\CurrentCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\DumpSchemaCommand(@migrationFactory)
    - Doctrine\Migrations\Tools\Console\Command\ExecuteCommand(@migrationFactory)
    - Doctrine\Migrations\Tools\Console\Command\GenerateCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\LatestCommand(@migrationFactory)
    - Doctrine\Migrations\Tools\Console\Command\MigrateCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\RollupCommand(@migrationFactory)
    - Doctrine\Migrations\Tools\Console\Command\StatusCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\VersionCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\UpToDateCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\SyncMetadataCommand(@migrationFactory)
    #- Doctrine\Migrations\Tools\Console\Command\ListCommand(@migrationFactory)
    - Doctrine\Migrations\Tools\Console\Command\DiffCommand(@migrationFactory)