events:
    - Megio\Subscriber\AuthRequest
    - Megio\Subscriber\AuthRouteRequest
    - Megio\Subscriber\AuthCollectionRequest
    - Megio\Subscriber\AuthCollectionFormRequest
    - Megio\Subscriber\CorsRequest
    - Megio\Subscriber\CSPResponse
    - Megio\Translation\Subscriber\TranslationDetectSubscriber