services:
    entityManager: App\Database\EntityManager

includes:
    - app.neon
    - events.neon

extensions:
    doctrine: Megio\Extension\Doctrine\DoctrineExtension
    events: Megio\Extension\Events\EventsExtension
    latte: Megio\Extension\Latte\LatteExtension