services:
    entityManager: App\EntityManager
    - Megio\Queue\QueueWorkerEnumFactory(App\QueueWorker)

includes:
    - app.neon
    - events.neon

events:
    #- App\Subscriber\Collection\OnUserCreated
    #- Megio\Subscriber\RedirectToWww

extensions:
    doctrine: Megio\Extension\Doctrine\DoctrineExtension
    events: Megio\Extension\Events\EventsExtension
    latte: Megio\Extension\Latte\LatteExtension